<a href="https://colab.research.google.com/github/Feehflork/DIO_Projetos/blob/main/Projeto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/brazil_covid19.csv")
df

             date        region state      cases  deaths
0      2020-02-25  Centro-Oeste    DF        0.0       0
1      2020-02-25  Centro-Oeste    GO        0.0       0
2      2020-02-25  Centro-Oeste    MS        0.0       0
3      2020-02-25  Centro-Oeste    MT        0.0       0
4      2020-02-25      Nordeste    AL        0.0       0
...           ...           ...   ...        ...     ...
12253  2021-05-23       Sudeste    RJ   840480.0   49515
12254  2021-05-23       Sudeste    SP  3188105.0  107614
12255  2021-05-23           Sul    PR  1060683.0   25506
12256  2021-05-23           Sul    RS  1059990.0   27419
12257  2021-05-23           Sul    SC   947810.0   14822

[12258 rows x 5 columns]

In [102]:
regiao_norte = df.loc[df["region"] == "Norte"]

In [103]:
regiao_norte.tail()

             date region state     cases  deaths
12246  2021-05-23  Norte    AP  110403.0    1657
12247  2021-05-23  Norte    PA  508448.0   14233
12248  2021-05-23  Norte    RO  225349.0    5611
12249  2021-05-23  Norte    RR  102019.0    1602
12250  2021-05-23  Norte    TO  173109.0    2776

In [104]:
norte = regiao_norte

In [110]:
norte_dois = regiao_norte.tail(7)

In [111]:
norte_dois

             date region state     cases  deaths
12244  2021-05-23  Norte    AC   81413.0    1635
12245  2021-05-23  Norte    AM  382487.0   12920
12246  2021-05-23  Norte    AP  110403.0    1657
12247  2021-05-23  Norte    PA  508448.0   14233
12248  2021-05-23  Norte    RO  225349.0    5611
12249  2021-05-23  Norte    RR  102019.0    1602
12250  2021-05-23  Norte    TO  173109.0    2776

In [115]:
norte_morte = norte_dois["deaths"].sum()

In [116]:
norte_morte

40434

In [117]:
regiao_sudeste = df.loc[df["region"] == "Sudeste"]

In [119]:
sudeste = regiao_sudeste.tail(4)

In [120]:
sudeste_morte = sudeste["deaths"].sum()

In [121]:
sudeste_morte

206727

In [122]:
regiao_nordeste = df.loc[df["region"] == "Nordeste"]

In [123]:
nordeste = regiao_nordeste.tail(9)

In [124]:
nordeste_morte = nordeste["deaths"].sum()

In [125]:
nordeste_morte

92173

In [127]:
regiao_sul = df.loc[df["region"] == "Sul"]

In [128]:
sul = regiao_sul.tail(3)

In [129]:
sul_morte = sul["deaths"].sum()

In [131]:
Centro_oeste = df.loc[df["region"] == "Centro-Oeste"]

In [132]:
CentroOeste = Centro_oeste.tail(4)

In [133]:
Centrooeste_morte = CentroOeste["deaths"].sum()

In [134]:
Centrooeste_morte

41987

In [151]:
mortes = input("Qual região do Brasil você deseja saber o número de mortes: ")
if mortes == "Norte":
    print("O número de mortes é: ", norte_morte)
elif mortes =="Sul":
    print("O número de mortes é: ", sul_morte)
elif mortes == "Nordeste":
    print("O número de mortes é: ", nordeste_morte)
elif mortes == "sudeste":
    print("O número de mortes é: ", sudeste_morte)
elif mortes == "Centro-Oeste":
    print("O número de mortes é: ", Centrooeste_morte)

Qual região do Brasil você deseja saber o número de mortes: sudeste
O número de mortes é:  206727